---
import "@fontsource-variable/raleway";
import "../styles/global.css";
import { ContactSection } from "@/components/ContactSection";
import { Footer } from "@/components/Footer";
import { Header } from "@/components/Header";
import { HeroSection } from "@/components/HeroSection";
import { ServicesSection } from "@/components/ServicesSection";
import { WhyUsSection } from "@/components/WhyUsSection";
import { BUSINESS_NAME } from "@/lib/consts";
import { HeroTwo } from "@/components/HeroTwo";
import { ServicesSectionTwo } from "@/components/ServicesSectionTwo";
import { ContactSectionTwo } from "@/components/ContactSectionTwo";
import { Image, getImage } from "astro:assets";

import House from "@/assets/img/house1.jpg";
import House2 from "@/assets/img/house2.jpg";
import House3 from "@/assets/img/house3.jpg";
import House4 from "@/assets/img/house4.jpg";
import House5 from "@/assets/img/house5.jpg";

const images = await Promise.all([
  getImage({ src: House, format: "avif" }),
  getImage({ src: House2, format: "avif" }),
  getImage({ src: House3, format: "avif" }),
  getImage({ src: House4, format: "avif" }),
  getImage({ src: House5, format: "avif" }),
]);
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={BUSINESS_NAME} />
    <title>{BUSINESS_NAME}</title>
  </head>
  <body id="top">
    <main class="min-h-screen bg-background text-foreground">
      <div class="pointer-events-none absolute inset-0 opacity-50">
        <div
          class="absolute -left-32 top-12 h-64 w-64 rounded-[40%] bg-primary/30 blur-[120px]"
        >
        </div>
        <div
          class="absolute right-0 top-0 h-72 w-72 rounded-[45%] bg-accent/30 blur-[120px]"
        >
        </div>
      </div>

      <!-- <Header /> -->

      <!-- <HeroSection /> -->
      <HeroTwo client:load images={images} />
      <ServicesSectionTwo>
        <Image src={House} alt="House" />
      </ServicesSectionTwo>
      <!-- <WhyUsSection />
      <ServicesSection /> -->
      <ContactSectionTwo />
    </main>

    <Footer />
  </body>
</html>
